* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

h1{
    margin: 20px;
}
header{
    align-items: center;
border-bottom: solid yellow 4px ;
display: flex;
justify-content: space-between;
}
.controls{
    position: relative;
}
#input{
    height: 2em;
    width: 80%;
    /* border: solid black 2px; */
    /* border-radius: 5px; */
    padding: 5px 10px;
}
#search img{
    width: 1.5em;
    position: absolute;
    right: 8%;
    bottom: 2%;
    cursor: pointer;
}
#close img{
    width: 1.5em;
    position: absolute;
    right: 8%;
    top: 2%;
    cursor: pointer;

}
/* Блоки с фото */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.square {
  width: 15em; 
  background-size: 15em 10em;
  height: 10em;

}


/* Футер  */

footer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: rgba(105, 104, 104, 0.337);
  padding: 10px 0;
  color: aliceblue;
}
.icon-f {
  height: 20px;
  line-height: 20px;
  font-size: 20px;
}
.social {
  display: flex;
  gap: 30px;
}
.rsschooldiv {
  width: 120px;
}
.cop {
  font-size: 10px;
}
.icon-f {
  color: black;
}
